<h1>Eliminar personaje</h1>

<hr />

<h2 style="color:forestgreen">@ViewBag.Mensaje</h2>

<form method="post">
    <div class="form-group">
        <label>ID personaje:</label>
        <input type="number" name="idPersonaje" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Eliminar personaje</button>
</form>



