<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SeriesServidor" asp-action="Series">Series</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SeriesServidor" asp-action="PersonajesSerie">Personajes de una serie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SeriesServidor" asp-action="CreatePersonaje">Crear personaje</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SeriesServidor" asp-action="UpdateSerie">Modificar serie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SeriesServidor" asp-action="DeletePersonaje">Eliminar personaje</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SeriesServidor" asp-action="MoverPersonajeSerie">Mover personaje</a>
    </li>
</ul>
